.not-found-heading{
    font-size: 85px;
    text-align: center;
    color: red;
}
.not-found-text{
    font-size: 25px;
    text-align: center;
    color: red;
}
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
}