.cart-cnt{
    background-color: #3b3b3b;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 22px;
    color: #fff;
    width: 22px;
}